body {
    margin: 0;
    padding: 15x 15px 15px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.nav {
    background-color: #1cb6d1;
    list-style: none;
    justify-content: center;
    width: fit-content;
    
}

.nav > li { 
text-align: center;
display: inline-block;
padding: 35px 35px 35px 35px;
}

.nav > li > a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color:rgb(207, 218, 146)158, 164, 167);
    display: inline-block;
    }

.nav > li > a:hover {
    color:#d4d9db; 

}



