body {
    margin: 0;
    padding: 15x 15px 15px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.nav {
    background-color: #73c4d3;
    color:rgb(182, 196, 105);
    list-style: none;
    justify-content: center;
    width: 150px;
    
}

.nav > li { 
text-align: center;
display: inline;
padding: 35px 35px 35px 35px;
}

.nav > li > a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    display:inline-block;
    }

.nav > li > a:hover {
    color:#d4d9db; 

}



