body {
    margin: 0;
    padding: 15x 15px 15px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


.nav {
    background-color: #73c4d3;
    color: #ffffff
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 20px 0;
    
}

.nav > li { 
text-align: center;
display: inline-block;
padding-right: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
list-style: none;
position: relative;
}

.nav > li > a {
    text-decoration: none;
    color: #ffffff
    }

.nav > li > a:hover {
    color:#db79cb; 

}
.nav >ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav >ul li {
    position:relative;
    text-align: center;
    font-weight: bold;
    color: #ffffff
}
.nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 150px;
    margin: 2 px
    
}
