*  {
    margin: 0;
    padding: 0;
}
.nav {
    background-color: #73c4d3;
    position: relative;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 20px 0;
    width: 100%;
    height: 30px;  
    float: left;
    }

.nav ul {
display: flex;
flex-direction: column;
margin: 0px;
padding: 0;
list-style: none;
justify-content:space-evenly;
overflow: hidden;
}

.nav li{
    display: inline-block;
    margin-left: 70px;
    position: relative;
    text-align: center;   
}
nav li {
    float: left;
}

nav ul li{
    margin: 0;
    padding: 0rem;
    position: relative;
    float: left;
   
}

a{
    color: rgb(163, 17, 132);
    text-decoration: none;
}


nav ul li a{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    padding: 0.8rem 1.3rem;
    text-align: center;
}

a:hover {
    color:#069;
}

nav ul>li ul{
    display: none;
    position: absolute;
    top: 100px;
    left: 0rem;
    padding: 0rem;
    float:left;
}
nav ul ul li{
    float: none;
}
nav ul ul{
    display:none;
    position: absolute;
    top: 100%;
}

nav ul li ul li a {
    padding: 0.5rem;
    width: 800px;
}
nav ul li:hover ul {
    display: block;
    text-align: center;
}
nav ul li ul li a:hover{
    width: 80px;
    display: block;
}

/* the styles for the navigation menu*/
#nav_menu {
    grid-area: navi;                /* place the navigation menu in a grid area */
}
/* the styles for the navigation menu */
#nav_menu ul {

    display: grid;                              /* make the list a grid */
    grid-template: auto /repeat (5 fr, 1 fr);    /* define 1 row and 5 columns */
    align-content: center;                      /* center the row track vertically */
}