header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size:25px;
    color:currentColor;
}
body {
    margin: 0px;
    background-color: rgb(204, 235, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 12pt;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {

    color: #069
}

h1 {
    text-align: center;
}



h2 {

    color: #069
}

p{
    text-align: center;
}
main p:first-child ::first-letter {
    font-style: italic;
}
p::firs-line {text-indent:2em;
}

