*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 15px 15px 15px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    }
.title {text-align: left;
color: #069};

.container {
        width: 100%;
        display: grid;
        margin: 0 rem 0rem 5rem 5rem;
        gap: 15px;
}
.container>* {
    /* border: 1px solid #7843ce;*/
    padding: 10px;
    h3 {
        color: ;
    }
}
h3
footer{color: #069}

header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size:25px;
    color:black;
}
body {
    margin: 0px;
    background-color: rgb(204, 235, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 12pt;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {

    color: #069;
}

h1 {
    text-align: center;
}

h2 {

    color: #069
}

p{
    text-align: center;
}


