body {
    margin: 0;
    padding: 15x 15px 15px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    }
.container{

        width: 80%;
        margin: 0;
    
.title {
    color:#069;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 3rem;
    padding-bottom: 3rem;
     }


header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size:25px;
    color:currentColor;
}
body {
    margin: 0px;
    background-color: rgb(204, 235, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: 12pt;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {

    color: #069
}

h1 {
    text-align: center;
}



h2 {

    color: #069
}

p{
    text-align: center;
}


