@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    src: url(Barlow-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
}



body {
    font-family:'Barlow Condensed', sans-serif;
}

.title {
    color: black;
    padding-top: 30px;
    font-family: 'Barlow Condensed', sans-serif;
}

.container {
    margin: 0rem 0rem 10rem 5rem;
    display:grid;
    grid-template-columns: 1 fr 200px 80ch 1 fr;
    gap: 25px;
    padding-top: 40px;  
}

@media (max-width:640px) {
    .conatiner {
        margin: 0rem 0rem 5rem 2rem;
        display: grid;
        grid-template-columns: 0 0 300px 0px;
        grid-template-rows: 0fr 1fr;
        gap: 1px;
        color: #069;
    } }

    .conatiner >* {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .h1 {
        color: #069;
    }

    .footer {
        text-align: center;
        color: ffffff;
        padding: 20px 0;
        color: ffffff;
        background-color: #73c4d3 !important;
        font-size: .9rem;
        
    }

 
    @media print {
            body {
                color: black !important;
                background: transparent !important;
                box-shadow: none !important;
                text-shadow: none !important;
                margin: 1 !important;
                margin-bottom:1em;
                margin-top: 1em;
                margin-right: 1em;
                margin-left: 1em;
                border: none;
                text-align: center;
                overflow: hidden !important;
                font-family: 'Barlow Condensed', sans-serif; 
                padding-top: 0px;
        }
            .iframe-container{
                padding-bottom: 0;
            }

            .video {
                display: none;
            }

            .footer{
                margin: 0;
                display: block;
                color: black !important;
                background:white !important;
                
            
            }
            }
