@font-face {
    font-family: 'Barlow Condensed', sans-serif;
    src: url(Barlow-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Barlow Condensed', sans-serif;
    top:-25px;
}

.title {
    color: #f079dc;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}
.h1{
    color:#f079dc;
    padding-bottom: 20px;
}

.container {
    margin: 0rem 0rem 10rem 5rem;
    display:grid;
    gap: 25px;
    padding-top: 10px;  
}

footer {
  font-size: 1rem;
  padding: 20px 0;
}
#footer {
margin-bottom: 40px;
margin-top: 20px;
padding: 10px;
width: 100%;
height: 80px;
bottom: 0px; 
color: #069;
text-align: center;
position:relative;
flex-wrap: wrap;
justify-content: center;
margin-top: auto;
margin-bottom: auto;
list-style: none;
}

@media (max-width:640px) {
    .conatiner {
        margin: 0rem 0rem 5rem 2rem;
        display: grid;
        grid-template-columns: 0 0 300px 0px;
        grid-template-rows: 0fr 1fr;
        gap: 1px;
        color: #069;
    } }

    .conatiner >* {
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .iframe-container{
        width: 280px;
    }

    .email {
        transition: 1s ease-in-out;
    }
    .email:hover {
        transform: scale(1.3);
    }

    .phone {
        transition: 1s ease-in-out;
    }
   
    .phone:hover {
        transform: scale(1.3);
    }
  
    table{
        width: 40%;
        /*border-spacing: 0px;*/
      }
      
      th{
        text-align: left;
      }

      caption{
          text-align: center;
          font-size: 30pt;
          color: #069;
      }
      
      table,
      th, 
      td { border: 1px solid #069;
      border-collapse: collapse; padding: 10px;}
      
      th, 
      td { padding: 10px;}
      
      
      tr:nth-child(odd) {
        background-color: #73c4d3; 
      }
      tr:nth-child(even) {
        background-color: #f079dc; 
      }
    
    .table{
        margin-left: auto;
        margin-right: auto;
    }
    
    @media print {

            .body {
                color: black !important;
                background: transparent !important;
                box-shadow: none !important;
                text-shadow: none !important;
                margin: 1in !important;
                margin-bottom: 1in;
                margin-top: 1in;
                margin-right: 1in;
                margin-left: 1in;
                border: none;
                text-align: center;
                overflow: hidden !important;
                font-family: 'Barlow Condensed', sans-serif; 
                padding-top: 0px;
        }
            .iframe-container{
                padding-bottom: 0;
            }

            .video {
                display: none;
            }

            .footer{
                margin: 0;
                display: block;
                color: black !important;
                background:white !important; 
            }
            .box {
                background-image: none;
                position: fixed;
            }
        